.calculator {
  width: 320px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #333;
  overflow: hidden;
  padding-bottom: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2a2a2a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.display {
  padding: 20px;
  background: #000;
  color: #0f0;
  font-size: 1.5rem;
  text-align: right;
  border-bottom: 1px solid #444;
}

.expression {
  font-size: 2rem;
}

.live-result {
  font-size: 1.5rem;
  color: #aaa;
  height: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  /* border: 1px solid blue; */
  border-radius: 5%;
  margin: 2px;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  background: #444;
  cursor: pointer;
  color: #fff;
}

.btn:hover {
  background: #555;
}

.btn.AC {
  background: #d9534f;
}
.btn.⌫{
  background: #dad55d;
  color: #000;
}

.btn.\= {
  background: #5cb85c;
}

.history {
  margin-top: 10px;
  padding: 10px;
  background: #222;
  color: #fff;
  border-top: 1px solid #444;
}

.history h3 {
  margin: 0 0 10px;
}

.history-item {
  margin-bottom: 5px;
}

.history-item .expression {
  color: #0f0;
}

.history-item .result {
  color: #5cb85c;
}


.history-toggle {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.history-dropdown {
  max-height: 150px;
  overflow-y: auto;
  background: #222;
  color: white;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.history-item {
  padding: 5px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.history-item:hover {
  background: #444;
}
